--- 
title: Tashin Hossain 
url: /
---
<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}
<body id="top" data-spy="scroll" data-offset="70" data-target="#navbar-main">
    {% include search.html %}
    {% include navigation.html %}
    <span class="js-widget-page d-none"></span>
    {% include about.html %}
    {% include experience.html %}
    {% include research.html %}
    {% include projects.html %}
    {% include awards.html %}
    {% include contact.html %}
    {% include tail-scripts.html %}
    {% include footer.html %}
</body>
</html>
