<section id="about" class="home-section wg-about   ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div id="profile">
                    <img class="avatar avatar-circle" src="/admin/Tahsin.jpg" alt="Avatar">
                    <div class="portrait-title">
                        <h2>Tashin Hossain</h2>
                        <h3>Prospective Student</h3>
                      
                    </div>
                    <ul class="network-icon" aria-hidden="true">
                        <li>
                            <a href="mailto:tashin.hossain.cu@gmail.com">
                                <i class="fas fa-envelope big-icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://scholar.google.com/citations?user=B2nqbK0AAAAJ&hl=en" target="_blank" rel="noopener">
                                <i class="ai ai-google-scholar big-icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/tashin-hossain-1b8814160/" target="_blank" rel="noopener">
                                <i class="fab fa-linkedin big-icon"></i>
                            </a>
                        </li>
                    
                   
                </blockquote>
                <p>Hello! I am Tashin Hossain. I am a recent graduate from the Department of Computer Science and Engineering at University of Chittagong, Bangladesh and currently employed as a Adjunct Lecturer in the Department of 
                    of Computer Science and Engineering of International Islamic University Chittagong, Bangladesh. 
                   <p> My primary research lies in Natural Language Processing, but it also includes computational social science, Multimodal Information Processing, and Information Retrieval. I aspire to secure a research position where I can explore the diverse multidisciplinary problems in Natural Language Processing. My curiosity drives me to investigate why data triggers specific human perceptions and how machines can harness these insights. My enthusiasm also extends to various other facets of computer science.   
                </p>
                <p>I enjoy outdoor activities (e.g. travelling) and watching animation movies. </p>
              
                <div class="row">
                    <div class="col-md-5">
                        <h3>Interests</h3>
                        <ul class="ul-interests">
                            <li style="text-align: left;">Natural Language Processing</li>
                            <li style="text-align: left;">Computational Social Science</li>
                            <li style="text-align: left;">Multimodal Information Processing</li>
                            <li style="text-align: left;">Opinion Mining</li>
                            <li style="text-align: left;">Information Retrieval</li>
                        </ul>
                    </div>
                    <div class="col-md-7">
                        <h3>Education</h3>
                        <ul class="ul-edu fa-ul">
                            <li>
                                <i class="fa-li fas fa-graduation-cap"></i>
                                <div class="description">
                                    <p class="course">Bachelor of Science in Computer Science (2018 - 2023)</p>
                                    <p class="institution">University of Chitagong</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                </br>
                </br>
                </br>
            </div>
        </div>
    </div>
</section>
