<section id="awards" class="home-section wg-pages   ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Awards</h1>
            </div>
            <div class="col-12 col-lg-8">
                <ul class="fa-ul mb-0">
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i> University Grants Commission (UGC) Merit Scholarship  
                        
                    </li>
                   
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i> 4th Position in <a href="https://www.kaggle.com/competitions/the-herwill-datathon-2022-workshops">HerWill Datathon 2022</a>
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i> 2nd Runner Up in <a href="https://www.uctc.edu.bd/home/notice/4"> Grace Hopper Girls' Programming Camp 2019</a> hosted by Bangladesh Open Source Network
                    </li>
                    
                    
                </ul>
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
</section>