<section id="contact" class="home-section wg-contact   ">
    <div class="container">
        <div class="row contact-widget">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Contact</h1>
            </div>
            <div class="col-12 col-lg-8">
                <ul class="fa-ul">
                    <li>
                        <i class="fa-li fas fa-envelope fa-2x " aria-hidden="true "></i>
                        <span id="person-email "><a href="mailto:tashin.cse@std.cu.ac.bd">tashin.cse@std.cu.ac.bd</a></span>
                    </li>
                    <li>
                        <i class="fa-li fab fa-twitter fa-2x " aria-hidden="true "></i>
                        <a href="https://twitter.com/tashin_cu" target="_blank " rel="noopener ">DM Me</a>
                    </li>
                    <li>
                        <i class="fa-li fas fa-map-marker fa-2x " aria-hidden="true "></i>
                        <span id="person-address ">166/B, College Road, Debpahar, Chawkbazar, Chittagong</span>
                    </li>
                </ul>
                <div class="d-none">
                    <input id="map-provider" value="2">
                    <input id="map-lat" value="23.77347719159891">
                    <input id="map-lng" value="90.42446272359368">
                    <input id="map-dir" value="Q-Liv Kabir">
                    <input id="map-zoom" value="15">
                    <input id="map-api-key " value="">
                </div>
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>