<section id="experience" class="home-section wg-pages">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Professional Experience</h1>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card-simple">
                    <h3 class="article-title mb-1 mt-3">
                         Adjunct Lecturer
                    </h3>
                    <div>
                        <span class="article-header">Department of Computer Science and Engieering<br><a href="https://www.iiuc.ac.bd/">International Islamic University Chittagong (IIUC)</a></span>
                    </div>
                    <div class="article-metadata">
                        <span class="article-date">
                            Jan, 2024 - Present.
                        </span>
                        <span class="middot-divider"></span>
                    </div>
                    <div class="article-style">
                        <p> Taught courses on Computer Graphics and Artificial Intelligence </p>
                    </div>
                </div>
                <div class="card-simple">
                    <h3 class="article-title mb-1 mt-3">
                        Research Assistant
                    </h3>
                    <div>
                        <span class="article-header"><a href="https://cu.ac.bd/public_profile/index.php?ein=5905">Data Science Research Group</a><br>University of Chittagong</span>
                    </div>
                    <div class="article-metadata">
                        <span class="article-date">
                            March, 2020 - Present.
                        </span>
                        <span class="middot-divider"></span>
                        <span class="pub-publication">  
                        </span>
                    </div>
                    <div class="article-style">
                       <!-- <p> Deployed Mathematical models, built machine learning tools and devised financial engineering solutions</p>-->
                    </div>
                </div>
                
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
</section>