<nav class="navbar navbar-expand-lg navbar-light compensate-for-scrollbar" id="navbar-main">
    <div class="container">
        <a class="navbar-brand" href="/">Sihat Afnan</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fas fa-bars"></i></span>
        </button>
        <div class="navbar-collapse main-menu-item collapse justify-content-start" id="navbar-content">
            <ul class="navbar-nav d-md-inline-flex">

                <li class="nav-item">
                    <a class="nav-link " href="/#about" data-target="#about"><span>Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/#experience" data-target="#experience"><span>Experience</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/#research" data-target="#research"><span>Research</span></a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link " href="/#coursework" data-target="#coursework"><span>Coursework</span></a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link " href="/#projects" data-target="#projects"><span>Projects</span></a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link " href="/#papers" data-target="#papers"><span>Papers</span></a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link " href="/#awards" data-target="#awards"><span>Awards</span></a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link " href="/note/how-does-a-nic-work"><span>Notes</span></a>
                </li>-->
                <!--<li class="nav-item">
                    <a class="nav-link " href="/#usefullinks" data-target="#usefullinks"><span>Useful Links</span></a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link " href="/#contact" data-target="#contact"><span>Contact</span></a>
                </li>
                
            </ul>
        </div>
        <ul class="nav-icons navbar-nav flex-row ml-auto d-flex pl-md-2">
        </ul>
    </div>
</nav>