<section id="projects" class="home-section wg-experience   ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Projects</h1>
            </div>
            <div class="col-12 col-lg-8">
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col ">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">
                                    Anticipating Ailments Based on Symptoms: A Rule-Based System</h4>
                                <div class="text-muted exp-meta">
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        <Strong>Description:</Strong> I've developed a rule-based expert system trained to recognize 20 distinct diseases with 64
                                        distinct symptoms. It can make predictions based on its extensive knowledge of specific diseases.<br>
                                        <Strong>Technology Used:</Strong> Prolog, Kaggle.<br>
                                        <a href="https://github.com/tashinhoss/System-Predictor-RBS">[Details]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">
                                    Robo-Biz</h4>
                               <div class="text-muted exp-meta">
                                    
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        <Strong>Description:</Strong> The Android app is a 3-tier architecture-based platform developed in Java using Android Studio,
                                        featuring tutorials, a marketplace for buying and selling robot parts, and a newsfeed for sharing informative
                                        robotics news.<br>
                                        <Strong>Technology Used:</Strong> Android Studio, Python, Firebase, TensorFlow, Canva. 
                                       <!-- <a href="https://github.com/AfnanCSE98/NS3-RTT-RTO-Modification">[Code]</a>-->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

               

                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col ">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">
                                    Programming Club Website</h4>
                                <div class="text-muted exp-meta">
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        <Strong>Description:</Strong> The web platform for a programming club includes features like member profiles, coach information, contest details, class information, and upcoming onsite and online contest information.<br>

                                        <Strong>Technology Used:</Strong> PHP, CSS, HTML, JavaScript and SQL.<br>
                                        <a href="https://github.com/Kingsman-Service/Programming-Club-Website">[Details]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">
                                    Undergraduate Student Helping Website</h4>
                               <div class="text-muted exp-meta">
                                    
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        <Strong>Description:</Strong> This is a web application that provides undergraduate students with a forum for undergraduate-related questions. In addition to a chatbot, this website provides a notification system for tracking various
                                        contests, scholarships, seminars, and conferences. <br>
                                        <Strong>Technology Used:</Strong> Django, Python, Html, CSS, PostgreSQL 
                                       
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">
                                    Medical Information System</h4>
                               <div class="text-muted exp-meta">
                                    
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        <Strong>Description:</Strong> The software runs on Android and has a three-tiered structure. It features an appointment
                                        scheduler, a report display, and a symptom checker <br>
                                        <Strong>Technology Used:</Strong> Android Studio, Python, Firebase, TensorFlow, Canva.<br> 
                                       
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            
                
               
               
        </div>
        </br>
        </br>
        </br>
    </div>
</section>
